## ML Assignment: IPL Score Prediction with Run Rate Feature

### Data Preprocessing
- Loading the dataset  
- Handling missing values  
- Feature engineering (Run Rate addition)  

### Exploratory Data Analysis (EDA)
- Understanding key statistics  
- Visualizing distributions and trends  

### Feature Engineering
- Adding Run Rate  
- Creating additional relevant features  

### Model Selection & Training
- Splitting data into train and test sets  
- Choosing the right ML model  

### Model Evaluation
- Checking model performance  
- Analyzing errors  

### Predictions & Conclusion
- Making IPL score predictions  
- Key takeaways and improvements

### Importing the Libraries

In [3]:
import pandas as pd
import numpy as np
import warnings 
import math
warnings.filterwarnings('ignore')

### Loading the data

In [5]:
df= pd.read_csv("IPL_ball_by_ball_2024.csv")

### Feature Engineering

In [7]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.tail(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
260919,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Subsetting only playing teams

In [10]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Deccan Chargers', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [11]:
main_teams=['Kolkata Knight Riders',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians','Sunrisers Hyderabad',
       'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru']

In [12]:
df['batting_team'].isin(main_teams)

0         True
1         True
2         True
3         True
4         True
          ...
260915    True
260916    True
260917    True
260918    True
260919    True
Name: batting_team, Length: 260920, dtype: bool

In [13]:
df[df['batting_team'].isin(main_teams)]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260916,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260917,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260918,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260919,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df=df[df['batting_team'].isin(main_teams)]

In [15]:
df=df[df['bowling_team'].isin(main_teams)]

In [16]:
df['batting_team'].unique()

array(['Chennai Super Kings', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Punjab Kings', 'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [17]:
df['bowling_team'].unique()

array(['Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Punjab Kings', 'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [18]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [19]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
1624,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.1,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Subletting the data with required features

In [21]:
df.sort_values(['match_id', 'innings'], ascending=[True, True])

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
1624,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.1,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.2,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.3,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.4,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.5,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260916,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,9.6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260917,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260918,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260919,1426312,2024,2024-05-26,"MA Chidambaram Stadium, Chepauk, Chennai",2,10.3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df=df.sort_values(['match_id', 'innings'], ascending=[True, True])

In [23]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
1624,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,0.1,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df['overs']=df['ball']

In [25]:
#make string version of original column
df['ball']=df['ball'].astype(str)

In [26]:
df['ball'].str[0:-1]

1624       0.
1625       0.
1626       0.
1627       0.
1628       0.
         ...
260915     9.
260916     9.
260917    10.
260918    10.
260919    10.
Name: ball, Length: 112334, dtype: object

In [27]:
df['over']=df['ball'].str[0:-1]

In [28]:
df['over'].str.replace('.', '')

1624       0
1625       0
1626       0
1627       0
1628       0
          ..
260915     9
260916     9
260917    10
260918    10
260919    10
Name: over, Length: 112334, dtype: object

In [29]:
df['over']=df['over'].str.replace('.', '')

In [30]:
df['ball'].str[-1]

1624      1
1625      2
1626      3
1627      4
1628      5
         ..
260915    5
260916    6
260917    1
260918    2
260919    3
Name: ball, Length: 112334, dtype: object

In [31]:
df['ball']=df['ball'].str[-1]

In [32]:
df['ball']= df['ball'].astype(int)

In [33]:
df['over']= df['over'].astype(int)

In [34]:
df.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
1624,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,1,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
1625,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,2,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0
1626,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,3,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
1627,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,4,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
1628,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,5,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [35]:
df['total_runs']=df['runs_off_bat']+df['extras']

In [36]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
1624,335989,2007/08,2008-04-23,"MA Chidambaram Stadium, Chepauk",1,1,Chennai Super Kings,Mumbai Indians,PA Patel,ML Hayden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,1

In [37]:
df=df[['match_id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over', 'ball',
       'total_runs', 'player_dismissed',]]

In [38]:
df=df.rename(columns={"match_id": "id"})

In [39]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,NaN
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,NaN
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,NaN
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,NaN
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,NaN
...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.5,9,5,1,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.6,9,6,1,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.1,10,1,1,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.2,10,2,1,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.3,10,3,1,NaN

In [40]:
df = df.replace(np.nan, 0)

In [41]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0
...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.5,9,5,1,0
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.6,9,6,1,0
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.1,10,1,1,0
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.2,10,2,1,0
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.3,10,3,1,0

### Total runs scored in the innings

In [43]:
df.groupby(['id', 'innings'])['total_runs'].transform('sum')

1624      208
1625      208
1626      208
1627      208
1628      208
         ...
260915    114
260916    114
260917    114
260918    114
260919    114
Name: total_runs, Length: 112334, dtype: int64

In [44]:
df['total']=df.groupby(['id', 'innings'])['total_runs'].transform('sum')

### Runs scored till current ball

In [46]:
df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())

id       innings
335989   1        1624        1
                  1625        1
                  1626        1
                  1627        1
                  1628        5
                           ...
1426312  2        260915    110
                  260916    111
                  260917    112
                  260918    113
                  260919    114
Name: total_runs, Length: 112334, dtype: int64

In [47]:
df['total_score'] = df.groupby(['id', 'innings'])['total_runs'].transform(lambda x: x.cumsum())

In [48]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5

### Runs scored in previous 30 balls

In [50]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

             id  innings  level_2  total_runs
0        335989        1     1624         1.0
1        335989        1     1625         1.0
2        335989        1     1626         1.0
3        335989        1     1627         1.0
4        335989        1     1628         5.0
...         ...      ...      ...         ...
112329  1426312        2   260915        58.0
112330  1426312        2   260916        59.0
112331  1426312        2   260917        56.0
112332  1426312        2   260918        53.0
112333  1426312        2   260919        48.0

[112334 rows x 4 columns]

In [51]:
tmp=df.groupby(['id','innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()

In [52]:
tmp[['total_runs']]

        total_runs
0              1.0
1              1.0
2              1.0
3              1.0
4              5.0
...            ...
112329        58.0
112330        59.0
112331        56.0
112332        53.0
112333        48.0

[112334 rows x 1 columns]

In [53]:
df['prev_30_runs']=tmp['total_runs'].to_list()

In [54]:
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1.0
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1.0
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1.0
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1.0
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5.0
1629,335989,1,Chennai Super Kings,Mumbai Indians,0.6,0,6,0,0,208,5,5.0
1630,335989,1,Chennai Super Kings,Mumbai Indians,0.7,0,7,2,0,208,7,7.0
1631,335989,1,Chennai Super Kings,Mumbai Indians,1.1,1,1,0,0,208,7,7.0
1632,335989,1,Chennai Super Kings,Mumbai Indians,1.2,1,2,1,0,208,8,8.0
1633,335989,1,Chennai Super Kings,Mumbai Indians,1.3,1,3,0,0,208,8,8.0

### Wickets fallen in previous 30 balls

In [56]:
df['player_dismissed'].unique()

array([0, 'PA Patel', 'MEK Hussey', 'SK Raina', 'ML Hayden', 'MS Dhoni',
       'L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'SM Pollock',
       'DJ Bravo', 'MA Khote', 'Harbhajan Singh', 'BB McCullum',
       'RT Ponting', 'WP Saha', 'DJ Hussey', 'SC Ganguly',
       'Mohammad Hafeez', 'AB Agarkar', 'M Kartik', 'LR Shukla', 'DB Das',
       'AM Rahane', 'MK Pandey', 'GC Smith', 'M Kaif', 'SA Asnodkar',
       'SR Watson', 'RA Jadeja', 'YK Pathan', 'SK Warne', 'Salman Butt',
       'BJ Hodge', 'Umar Gul', 'AB Dinda', 'SP Fleming', 'S Vidyut',
       'S Badrinath', 'Joginder Sharma', 'JA Morkel', 'M Muralitharan',
       'M Ntini', 'Sohail Tanvir', 'M Rawat', 'SK Trivedi', 'YV Takawale',
       'CK Kapugedera', 'SR Tendulkar', 'A Chopra', 'I Sharma',
       'Shoaib Akhtar', 'T Kohli', 'A Mukund', 'AM Nayar', 'DR Smith',
       'Kamran Akmal', 'Niraj Patel', 'S Dhawan', 'JP Duminy', 'Z Khan',
       'A Flintoff', 'JDP Oram', 'PC Valthaty', 'RJ Quiney',
       'AD Mascarenhas', 'CH Gayle', 'SB Bangar', 'Yashpal Singh',
       'AN Ghosh', 'BAW Mendis', 'MM Patel', 'GR Napier', 'MN van Wyk',
       'NV Ojha', 'LA Carseldine', 'AS Raut', 'M Vijay', 'SD Chitnis',
       'DS Kulkarni', 'C Nanda', 'SL Malinga', 'GJ Bailey', 'J Botha',
       'T Henderson', 'SS Shaikh', 'AP Tare', 'AT Rayudu', 'SS Tiwary',
       'R Sathish', 'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MK Tiwary',
       'OA Shah', 'AD Mathews', 'RS Gavaskar', 'SE Bond', 'MJ Lumb',
       'FY Fazal', 'CA Pujara', 'KA Pollard', 'AC Voges', 'R McLaren',
       'AP Dole', 'AJ Finch', 'STR Binny', 'S Anirudha', 'MS Bisla',
       'JH Kallis', 'EJG Morgan', 'G Gambhir', 'AG Paunikar', 'R Dravid',
       'AL Menaria', 'LRPL Taylor', 'A Singh', 'SW Tait', 'RG Sharma',
       'R Ashwin', 'S Randiv', 'DJ Jacobs', 'A Symonds', 'DH Yagnik',
       'TL Suman', 'SP Goswami', 'RN ten Doeschate', 'R Bhatia',
       'Shakib Al Hasan', 'AC Blizzard', 'F du Plessis', 'DE Bollinger',
       'RE Levi', 'B Lee', 'SP Narine', 'KD Karthik', 'JEC Franklin',
       'KK Cooper', 'AA Chavan', 'GB Hogg', 'RJ Peterson', 'HH Gibbs',
       'RP Singh', 'B Laughlin', 'Mohammed Shami', 'CL White',
       'KC Sangakkara', 'DB Ravi Teja', 'A Ashish Reddy', 'NLTC Perera',
       'GH Vihari', 'R Dhawan', 'MG Johnson', 'Q de Kock', 'A Mishra',
       'X Thalaivan Sargunam', 'DJG Sammy', 'PA Reddy', 'KV Sharma',
       'JP Faulkner', 'SV Samson', 'CH Morris', 'MM Sharma', 'L Balaji',
       'DW Steyn', 'GJ Maxwell', 'BB Samantray', 'Sachin Baby', 'PP Ojha',
       'CJ Anderson', 'CM Gautam', 'DA Warner', 'KL Rahul', 'M Manhas',
       'SPD Smith', 'TG Southee', 'PV Tambe', 'Y Venugopal Rao',
       'KK Nair', 'SA Yadav', 'R Vinay Kumar', 'PP Chawla', 'BR Dunk',
       'AD Russell', 'MC Henriques', 'KW Richardson', 'LMP Simmons',
       'Ankit Sharma', 'UBT Chand', 'JO Holder', 'P Kumar', 'RS Bopara',
       'DJ Hooda', 'P Negi', 'PJ Cummins', 'UT Yadav', 'Bipul Sharma',
       'Azhar Mahmood', 'B Kumar', 'HH Pandya', 'A Nehra', 'C Munro',
       'MJ McClenaghan', 'JC Buttler', 'MJ Guptill', 'KH Pandya',
       'KS Williamson', 'Yuvraj Singh', 'JJ Bumrah', 'BCJ Cutting',
       'CA Lynn', 'CR Woakes', 'N Rana', 'V Shankar', 'Rashid Khan',
       'C de Grandhomme', 'SP Jackson', 'Kuldeep Yadav', 'CJ Jordan',
       'IR Jaggi', 'NM Coulter-Nile', 'AS Rajpoot', 'E Lewis',
       'Ishan Kishan', 'DL Chahar', 'MA Wood', 'DJM Short', 'BA Stokes',
       'RA Tripathi', 'K Gowtham', 'S Gopal', 'JD Unadkat', 'RK Singh',
       'SW Billings', 'PJ Sangwan', 'S Kaul', 'Sandeep Sharma',
       'Shubman Gill', 'Shivam Mavi', 'H Klaasen', 'RK Bhui', 'JC Archer',
       'Mohammad Nabi', 'Basil Thampi', 'M Markande', 'Mustafizur Rahman',
       'AD Hales', 'MK Lomror', 'TK Curran', 'P Chopra', 'IS Sodhi',
       'CR Brathwaite', 'JPR Scantlebury-Searles', 'JM Bairstow',
       'PP Shaw', 'SS Iyer', 'CA Ingram', 'KMA Paul', 'AR Patel',
       'RR Pant', 'KM Jadhav', 'NS Naik', 'R Tewatia', 'K Rabada',
       'RD Chahar', 'M Prasidh Krishna', 'R Parag', 'JL Denly',
       'LS Livingstone', 'Abhishek Sharma', 'KK Ahmed', 'AJ Turner',
       'SE Rutherford', 'DR Shorey', 'MJ Santner', 'J Suchith',
       'TA Boult', 'SN Thakur', 'JL Pattinson', 'SM Curran',
       'YBK Jaiswal', 'DA Miller', 'RD Gaikwad', 'SO Hetmyer',
       'MP Stoinis', 'TU Deshpande', 'HV Patel', 'AJ Tye', 'VR Aaron',
       'KL Nagarkoti', 'CV Varun', 'PK Garg', 'AT Carey', 'Abdul Samad',
       'N Jagadeesan', 'A Nortje', 'S Nadeem', 'Kartik Tyagi', 'DR Sams',
       'MM Ali', 'MA Agarwal', 'N Pooran', 'JA Richardson', 'M Vohra',
       'S Dube', 'M Jansen', 'Lalit Yadav', 'M Ashwin', 'M Shahrukh Khan',
       'Virat Singh', 'J Yadav', 'FA Allen', 'Ravi Bishnoi',
       'JDS Neesham', 'P Simran Singh', 'DJ Malan', 'JJ Roy',
       'Avesh Khan', 'VR Iyer', 'GD Phillips', 'C Sakariya', 'SN Khan',
       'AK Markram', 'Mandeep Singh', 'TL Seifert', 'Anmolpreet Singh',
       'AF Milne', 'Anuj Rawat', 'NT Ellis', 'RV Patel', 'DP Conway',
       'Tilak Varma', 'TH David', 'R Powell', 'A Badoni', 'MS Wade',
       'D Padikkal', 'R Shepherd', 'Washington Sundar', 'D Pretorius',
       'PBB Rajapaksa', 'RA Bawa', 'Harpreet Brar', 'Arshdeep Singh',
       'Navdeep Saini', 'A Manohar', 'JM Sharma', 'OF Smith', 'D Brevis',
       'VG Arora', 'B Sai Sudharsan', 'Rasikh Salam', 'HE van der Dussen',
       'PVD Chameera', 'TS Mills', 'YS Chahal', 'Aman Hakim Khan',
       'AS Joseph', 'HR Shokeen', 'LH Ferguson', 'Yash Dayal',
       'B Indrajith', 'MR Marsh', 'DJ Mitchell', 'Shashank Singh',
       'SA Abbott', 'AS Roy', 'Harshit Rana', 'KS Bharat',
       'Ramandeep Singh', 'K Kartikeya', 'KS Sharma', 'Mohsin Khan',
       'Simarjeet Singh', 'M Theekshana', 'Mukesh Choudhary', 'T Stubbs',
       'R Sanjay Yadav', 'A Tomar', 'OC McCoy', 'Sikandar Raza',
       'Rahmanullah Gurbaz', 'KR Mayers', 'RR Rossouw', 'HC Brook',
       'AU Rashid', 'Abishek Porel', 'Umran Malik', 'C Green',
       'Arshad Khan', 'MW Short', 'YV Dhull', 'Dhruv Jurel', 'A Zampa',
       'Yudhvir Singh', 'Atharva Taide', 'Harpreet Singh', 'N Wadhera',
       'Liton Das', 'PD Salt', 'D Wiese', 'Arjun Tendulkar',
       'Vishnu Vinod', 'Noor Ahmad', 'P Dubey', 'Sanvir Singh',
       'PN Mankad', 'Vivrant Sharma', 'MD Shanaka', 'DG Nalkande',
       'RM Patidar', 'V Kohli', 'R Ravindra', 'SD Hope', 'Sumit Kumar',
       'Shahbaz Ahmed', 'Azmatullah Omarzai', 'Naman Dhir', 'G Coetzee',
       'Sameer Rizvi', 'TM Head', 'Mayank Dagar', 'Mohammed Siraj',
       'A Raghuvanshi', 'Ashutosh Sharma', 'Saurav Chauhan',
       'Kumar Kushagra', 'BR Sharath', 'MA Starc', 'Nithish Kumar Reddy',
       'WG Jacks', 'Vijaykumar Vyshak', 'J Fraser-McGurk',
       'Tanush Kotian', 'KA Maharaj', 'Arshad Khan (2)',
       'SS Prabhudessai', 'R Sai Kishore', 'Swapnil Singh', 'AA Kulkarni',
       'MJ Suthar', 'Gulbadin Naib', 'SB Dubey', 'D Ferreira',
       'Mukesh Kumar', 'T Kohler-Cadmore'], dtype=object)

In [57]:
df['player_dismissed']=np.where(df['player_dismissed']==0, 0, 1)

In [58]:
tmp=df.groupby(['id', 'innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

df['prev_30_wickets']=tmp['player_dismissed'].to_list()

In [59]:
df.head(60)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1.0,0.0
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1.0,0.0
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1.0,0.0
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1.0,0.0
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5.0,0.0
1629,335989,1,Chennai Super Kings,Mumbai Indians,0.6,0,6,0,0,208,5,5.0,0.0
1630,335989,1,Chennai Super Kings,Mumbai Indians,0.7,0,7,2,0,208,7,7.0,0.0
1631,335989,1,Chennai Super Kings,Mumbai Indians,1.1,1,1,0,0,208,7,7.0,0.0
1632,335989,1,Chennai Super Kings,Mumbai Indians,1.2,1,2,1,0,208,8,8.0,0.0
1633,335989,1,Chennai Super Kings,Mumbai Indians,1.3,1,3,0,0,208,8,8.0,0.0
1634,335989,1,Chennai Super Kings,Mumbai Indians,1.4,1,4,4,0,208,12,12.0,0.0
1635,335989,1,Chennai Super Kings,Mumbai Indians,1.5,1,5,0,0,208,12,12.0,0.0
1636,335989,1,Chennai Super Kings,Mumbai Indians,1.6,1,6,4,0,208,16,16.0,0.0
1637,335989,1,Chennai Super Kings,Mumbai Indians,2.1,2,1,0,0,208,16,16.0,0.0
1638,335989,1,Chennai Super Kings,Mumbai Indians,2.2,2,2,4,0,208,20,20.0,0.0
1639,335989,1,Chennai Super Kings,Mumbai Indians,2.3,2,3,6,0,208,26,26.0,0.0
1640,335989,1,Chennai Super Kings,Mumbai Indians,2.4,2,4,0,0,208,26,26.0,0.0
1641,335989,1,Chennai Super Kings,Mumbai Indians,2.5,2,5,4,0,208,30,30.0,0.0
1642,335989,1,Chennai Super Kings,Mumbai Indians,2.6,2,6,4,0,208,34,34.0,0.0
1643,335989,1,Chennai Super Kings,Mumbai Indians,3.1,3,1,0,1,208,34,34.0,1.0
1644,335989,1,Chennai Super Kings,Mumbai Indians,3.2,3,2,0,0,208,34,34.0,1.0
1645,335989,1,Chennai Super Kings,Mumbai Indians,3.3,3,3,0,0,208,34,34.0,1.0
1646,335989,1,Chennai Super Kings,Mumbai Indians,3.4,3,4,0,0,208,34,34.0,1.0
1647,335989,1,Chennai Super Kings,Mumbai Indians,3.5,3,5,0,0,208,34,34.0,1.0
1648,335989,1,Chennai Super Kings,Mumbai Indians,3.6,3,6,1,0,208,35,35.0,1.0
1649,335989,1,Chennai Super Kings,Mumbai Indians,4.1,4,1,0,0,208,35,35.0,1.0
1650,335989,1,Chennai Super Kings,Mumbai Indians,4.2,4,2,0,0,208,35,35.0,1.0
1651,335989,1,Chennai Super Kings,Mumbai Indians,4.3,4,3,4,0,208,39,39.0,1.0
1652,335989,1,Chennai Super Kings,Mumbai Indians,4.4,4,4,0,1,208,39,39.0,2.0
1653,335989,1,Chennai Super Kings,Mumbai Indians,4.5,4,5,0,0,208,39,39.0,2.0
1654,335989,1,Chennai Super Kings,Mumbai Indians,4.6,4,6,1,0,208,40,39.0,2.0
1655,335989,1,Chennai Super Kings,Mumbai Indians,5.1,5,1,1,0,208,41,40.0,2.0
1656,335989,1,Chennai Super Kings,Mumbai Indians,5.2,5,2,1,0,208,42,41.0,2.0
1657,335989,1,Chennai Super Kings,Mumbai Indians,5.3,5,3,4,0,208,46,45.0,2.0
1658,335989,1,Chennai Super Kings,Mumbai Indians,5.4,5,4,4,0,208,50,45.0,2.0
1659,335989,1,Chennai Super Kings,Mumbai Indians,5.5,5,5,1,0,208,51,46.0,2.0
1660,335989,1,Chennai Super Kings,Mumbai Indians,5.6,5,6,1,0,208,52,45.0,2.0
1661,335989,1,Chennai Super Kings,Mumbai Indians,5.7,5,7,1,0,208,53,46.0,2.0
1662,335989,1,Chennai Super Kings,Mumbai Indians,5.8,5,8,0,0,208,53,45.0,2.0
1663,335989,1,Chennai Super Kings,Mumbai Indians,6.1,6,1,0,0,208,53,45.0,2.0
1664,335989,1,Chennai Super Kings,Mumbai Indians,6.2,6,2,1,0,208,54,42.0,2.0
1665,335989,1,Chennai Super Kings,Mumbai Indians,6.3,6,3,1,0,208,55,43.0,2.0
1666,335989,1,Chennai Super Kings,Mumbai Indians,6.4,6,4,0,0,208,55,39.0,2.0
1667,335989,1,Chennai Super Kings,Mumbai Indians,6.5,6,5,1,0,208,56,40.0,2.0
1668,335989,1,Chennai Super Kings,Mumbai Indians,6.6,6,6,2,0,208,58,38.0,2.0
1669,335989,1,Chennai Super Kings,Mumbai Indians,6.7,6,7,1,0,208,59,33.0,2.0
1670,335989,1,Chennai Super Kings,Mumbai Indians,7.1,7,1,0,0,208,59,33.0,2.0
1671,335989,1,Chennai Super Kings,Mumbai Indians,7.2,7,2,1,0,208,60,30.0,2.0
1672,335989,1,Chennai Super Kings,Mumbai Indians,7.3,7,3,1,0,208,61,27.0,2.0
1673,335989,1,Chennai Super Kings,Mumbai Indians,7.4,7,4,1,0,208,62,28.0,1.0
1674,335989,1,Chennai Super Kings,Mumbai Indians,7.5,7,5,1,0,208,63,29.0,1.0
1675,335989,1,Chennai Super Kings,Mumbai Indians,7.6,7,6,1,0,208,64,30.0,1.0
1676,335989,1,Chennai Super Kings,Mumbai Indians,8.1,8,1,0,0,208,64,30.0,1.0
1677,335989,1,Chennai Super Kings,Mumbai Indians,8.2,8,2,0,0,208,64,30.0,1.0
1678,335989,1,Chennai Super Kings,Mumbai Indians,8.3,8,3,1,0,208,65,30.0,1.0
1679,335989,1,Chennai Super Kings,Mumbai Indians,8.4,8,4,4,0,208,69,34.0,1.0
1680,335989,1,Chennai Super Kings,Mumbai Indians,8.5,8,5,1,0,208,70,35.0,1.0
1681,335989,1,Chennai Super Kings,Mumbai Indians,8.6,8,6,2,0,208,72,33.0,1.0
1682,335989,1,Chennai Super Kings,Mumbai Indians,9.1,9,1,0,0,208,72,33.0,0.0
1683,335989,1,Chennai Super Kings,Mumbai Indians,9.2,9,2,1,0,208,73,34.0,0.0

###  Wickets fallen till the current ball

In [61]:
df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())

id       innings
335989   1        1624      0
                  1625      0
                  1626      0
                  1627      0
                  1628      0
                           ..
1426312  2        260915    2
                  260916    2
                  260917    2
                  260918    2
                  260919    2
Name: player_dismissed, Length: 112334, dtype: int32

In [62]:
df['total_wickets'] = df.groupby(['id', 'innings'])['player_dismissed'].transform(lambda x: x.cumsum())

### Dot balls in previous 30 balls

In [64]:
df['prev_30_dot_balls']=df['total_runs']
df['prev_30_dot_balls']=np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls']=tmp['prev_30_dot_balls'].to_list()

### Boundaries in previous 30 balls

In [66]:
df['prev_30_boundaries']=df['total_runs']
df['prev_30_boundaries']=np.where(df['prev_30_boundaries']>3, 1, 0)

tmp=df.groupby(['id', 'innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries']=tmp['prev_30_boundaries'].to_list()

### Run rate till current ball

In [68]:
df['total_balls']=df['over']*6+df['ball']

In [69]:
df.head(20)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1.0,0.0,0,0.0,0.0,1
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1.0,0.0,0,1.0,0.0,2
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1.0,0.0,0,2.0,0.0,3
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1.0,0.0,0,3.0,0.0,4
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5.0,0.0,0,3.0,1.0,5
1629,335989,1,Chennai Super Kings,Mumbai Indians,0.6,0,6,0,0,208,5,5.0,0.0,0,4.0,1.0,6
1630,335989,1,Chennai Super Kings,Mumbai Indians,0.7,0,7,2,0,208,7,7.0,0.0,0,4.0,1.0,7
1631,335989,1,Chennai Super Kings,Mumbai Indians,1.1,1,1,0,0,208,7,7.0,0.0,0,5.0,1.0,7
1632,335989,1,Chennai Super Kings,Mumbai Indians,1.2,1,2,1,0,208,8,8.0,0.0,0,5.0,1.0,8
1633,335989,1,Chennai Super Kings,Mumbai Indians,1.3,1,3,0,0,208,8,8.0,0.0,0,6.0,1.0,9
1634,335989,1,Chennai Super Kings,Mumbai Indians,1.4,1,4,4,0,208,12,12.0,0.0,0,6.0,2.0,10
1635,335989,1,Chennai Super Kings,Mumbai Indians,1.5,1,5,0,0,208,12,12.0,0.0,0,7.0,2.0,11
1636,335989,1,Chennai Super Kings,Mumbai Indians,1.6,1,6,4,0,208,16,16.0,0.0,0,7.0,3.0,12
1637,335989,1,Chennai Super Kings,Mumbai Indians,2.1,2,1,0,0,208,16,16.0,0.0,0,8.0,3.0,13
1638,335989,1,Chennai Super Kings,Mumbai Indians,2.2,2,2,4,0,208,20,20.0,0.0,0,8.0,4.0,14
1639,335989,1,Chennai Super Kings,Mumbai Indians,2.3,2,3,6,0,208,26,26.0,0.0,0,8.0,5.0,15
1640,335989,1,Chennai Super Kings,Mumbai Indians,2.4,2,4,0,0,208,26,26.0,0.0,0,9.0,5.0,16
1641,335989,1,Chennai Super Kings,Mumbai Indians,2.5,2,5,4,0,208,30,30.0,0.0,0,9.0,6.0,17
1642,335989,1,Chennai Super Kings,Mumbai Indians,2.6,2,6,4,0,208,34,34.0,0.0,0,9.0,7.0,18
1643,335989,1,Chennai Super Kings,Mumbai Indians,3.1,3,1,0,1,208,34,34.0,1.0,1,10.0,7.0,19

In [70]:
df['run_rate']=6*(df['total_score'])/df['total_balls']

In [71]:
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1.0,0.0,0,0.0,0.0,1,6.000000
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1.0,0.0,0,1.0,0.0,2,3.000000
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1.0,0.0,0,2.0,0.0,3,2.000000
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1.0,0.0,0,3.0,0.0,4,1.500000
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5.0,0.0,0,3.0,1.0,5,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,335989,1,Chennai Super Kings,Mumbai Indians,15.1,15,1,1,0,208,144,55.0,1.0,3,6.0,8.0,91,9.494505
1720,335989,1,Chennai Super Kings,Mumbai Indians,15.2,15,2,4,0,208,148,58.0,1.0,3,6.0,9.0,92,9.652174
1721,335989,1,Chennai Super Kings,Mumbai Indians,15.3,15,3,0,0,208,148,57.0,1.0,3,7.0,9.0,93,9.548387
1722,335989,1,Chennai Super Kings,Mumbai Indians,15.4,15,4,4,0,208,152,57.0,1.0,3,7.0,9.0,94,9.702128
1723,335989,1,Chennai Super Kings,Mumbai Indians,15.5,15,5,1,0,208,153,57.0,1.0,3,7.0,9.0,95,9.663158

### Run rate in previous 30 balls

In [73]:
df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

             id  innings  level_2   run_rate
0        335989        1     1624   6.000000
1        335989        1     1625   4.500000
2        335989        1     1626   3.666667
3        335989        1     1627   3.125000
4        335989        1     1628   3.700000
...         ...      ...      ...        ...
112329  1426312        2   260915  11.676370
112330  1426312        2   260916  11.699704
112331  1426312        2   260917  11.705626
112332  1426312        2   260918  11.695143
112333  1426312        2   260919  11.657047

[112334 rows x 4 columns]

In [74]:
tmp=df.groupby(['id','innings'])['run_rate'].rolling(min_periods=1, window=30).mean().reset_index()

In [75]:
tmp['run_rate']

0          6.000000
1          4.500000
2          3.666667
3          3.125000
4          3.700000
            ...
112329    11.676370
112330    11.699704
112331    11.705626
112332    11.695143
112333    11.657047
Name: run_rate, Length: 112334, dtype: float64

In [76]:
df['prev_30_run_rate']=tmp['run_rate'].to_list()

In [77]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1.0,0.0,0,0.0,0.0,1,6.0,6.000000
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1.0,0.0,0,1.0,0.0,2,3.0,4.500000
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1.0,0.0,0,2.0,0.0,3,2.0,3.666667
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1.0,0.0,0,3.0,0.0,4,1.5,3.125000
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5.0,0.0,0,3.0,1.0,5,6.0,3.700000

In [78]:
df.tail(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.5,9,5,1,0,114,110,58.0,1.0,2,8.0,9.0,59,11.186441,11.676370
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.6,9,6,1,0,114,111,59.0,1.0,2,7.0,9.0,60,11.100000,11.699704
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.1,10,1,1,0,114,112,56.0,1.0,2,7.0,8.0,61,11.016393,11.705626
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.2,10,2,1,0,114,113,53.0,1.0,2,7.0,7.0,62,10.935484,11.695143
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.3,10,3,1,0,114,114,48.0,1.0,2,7.0,6.0,63,10.857143,11.657047

In [79]:
convert_dict = {'prev_30_runs':int,
               'prev_30_wickets':int,
               'prev_30_dot_balls':int,
               'prev_30_boundaries':int,
               'run_rate':int,
               'prev_30_run_rate':int,
               }
df = df.astype(convert_dict)

In [80]:
df

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
1624,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1,0,0,0,0,1,6,6
1625,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1,0,0,1,0,2,3,4
1626,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1,0,0,2,0,3,2,3
1627,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1,0,0,3,0,4,1,3
1628,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5,0,0,3,1,5,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.5,9,5,1,0,114,110,58,1,2,8,9,59,11,11
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9.6,9,6,1,0,114,111,59,1,2,7,9,60,11,11
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.1,10,1,1,0,114,112,56,1,2,7,8,61,11,11
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.2,10,2,1,0,114,113,53,1,2,7,7,62,10,11
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10.3,10,3,1,0,114,114,48,1,2,7,6,63,10,11

In [81]:
df.to_csv('Data_with_add_features.csv', index=None)

### Importing the Libraries

In [83]:
# Import necessary libraries
import pandas as pd  # For data manipulation and analysis
import numpy as np  # For numerical operations
from sklearn.model_selection import train_test_split  # For splitting data into training and testing sets
from sklearn.linear_model import LinearRegression  # For building a linear regression model
import pickle  # For saving and loading the trained model
from sklearn.metrics import mean_absolute_error  # For evaluating model performance

### Loading the data

In [85]:
df= pd.read_csv("Data_with_add_features.csv")

In [86]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
0,335989,1,Chennai Super Kings,Mumbai Indians,0.1,0,1,1,0,208,1,1,0,0,0,0,1,6,6
1,335989,1,Chennai Super Kings,Mumbai Indians,0.2,0,2,0,0,208,1,1,0,0,1,0,2,3,4
2,335989,1,Chennai Super Kings,Mumbai Indians,0.3,0,3,0,0,208,1,1,0,0,2,0,3,2,3
3,335989,1,Chennai Super Kings,Mumbai Indians,0.4,0,4,0,0,208,1,1,0,0,3,0,4,1,3
4,335989,1,Chennai Super Kings,Mumbai Indians,0.5,0,5,4,0,208,5,5,0,0,3,1,5,6,3

In [87]:
pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

,id,innings,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,...,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,bowling_team_Gujarat Titans,bowling_team_Kolkata Knight Riders,bowling_team_Lucknow Super Giants,bowling_team_Mumbai Indians,bowling_team_Punjab Kings,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bengaluru,bowling_team_Sunrisers Hyderabad
0,335989,1,0.1,0,1,1,0,208,1,1,...,False,False,False,False,False,True,False,False,False,False
1,335989,1,0.2,0,2,0,0,208,1,1,...,False,False,False,False,False,True,False,False,False,False
2,335989,1,0.3,0,3,0,0,208,1,1,...,False,False,False,False,False,True,False,False,False,False
3,335989,1,0.4,0,4,0,0,208,1,1,...,False,False,False,False,False,True,False,False,False,False
4,335989,1,0.5,0,5,4,0,208,5,5,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112329,1426312,2,9.5,9,5,1,0,114,110,58,...,False,False,False,False,False,False,False,False,False,True
112330,1426312,2,9.6,9,6,1,0,114,111,59,...,False,False,False,False,False,False,False,False,False,True
112331,1426312,2,10.1,10,1,1,0,114,112,56,...,False,False,False,False,False,False,False,False,False,True
112332,1426312,2,10.2,10,2,1,0,114,113,53,...,False,False,False,False,False,False,False,False,False,True
112333,1426312,2,10.3,10,3,1,0,114,114,48,...,False,False,False,False,False,False,False,False,False,True

In [88]:
df=pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

In [89]:
df.columns

Index(['id', 'innings', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'total_balls', 'run_rate', 'prev_30_run_rate',
       'batting_team_Chennai Super Kings', 'batting_team_Delhi Capitals',
       'batting_team_Gujarat Titans', 'batting_team_Kolkata Knight Riders',
       'batting_team_Lucknow Super Giants', 'batting_team_Mumbai Indians',
       'batting_team_Punjab Kings', 'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bengaluru',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Capitals', 'bowling_team_Gujarat Titans',
       'bowling_team_Kolkata Knight Riders',
       'bowling_team_Lucknow Super Giants', 'bowling_team_Mumbai Indians',
       'bowling_team_Punjab Kings', 'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bengaluru',
       'bowling_team_Sunrisers Hyderabad'],
      dtype='object')

In [90]:
df=df[['id','batting_team_Chennai Super Kings', 'batting_team_Delhi Capitals',
       'batting_team_Gujarat Titans', 'batting_team_Kolkata Knight Riders',
       'batting_team_Lucknow Super Giants', 'batting_team_Mumbai Indians',
       'batting_team_Punjab Kings', 'batting_team_Rajasthan Royals',
       'batting_team_Royal Challengers Bengaluru',
       'batting_team_Sunrisers Hyderabad', 'bowling_team_Chennai Super Kings',
       'bowling_team_Delhi Capitals', 'bowling_team_Gujarat Titans',
       'bowling_team_Kolkata Knight Riders',
       'bowling_team_Lucknow Super Giants', 'bowling_team_Mumbai Indians',
       'bowling_team_Punjab Kings', 'bowling_team_Rajasthan Royals',
       'bowling_team_Royal Challengers Bengaluru',
       'bowling_team_Sunrisers Hyderabad','overs', 'total_score','total_wickets', 'run_rate', 'prev_30_runs',
       'prev_30_wickets', 'prev_30_dot_balls','prev_30_boundaries', 'prev_30_run_rate','total']]

In [91]:
df.head()

,id,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Gujarat Titans,batting_team_Kolkata Knight Riders,batting_team_Lucknow Super Giants,batting_team_Mumbai Indians,batting_team_Punjab Kings,batting_team_Rajasthan Royals,batting_team_Royal Challengers Bengaluru,...,overs,total_score,total_wickets,run_rate,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate,total
0,335989,True,False,False,False,False,False,False,False,False,...,0.1,1,0,6,1,0,0,0,6,208
1,335989,True,False,False,False,False,False,False,False,False,...,0.2,1,0,3,1,0,1,0,4,208
2,335989,True,False,False,False,False,False,False,False,False,...,0.3,1,0,2,1,0,2,0,3,208
3,335989,True,False,False,False,False,False,False,False,False,...,0.4,1,0,1,1,0,3,0,3,208
4,335989,True,False,False,False,False,False,False,False,False,...,0.5,5,0,6,5,0,3,1,3,208

### train_test_split

In [93]:
X= df.drop(labels=['total','id'], axis=1)
y= df['total'].values

In [94]:
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42,stratify=y)

In [95]:
X_train= X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [96]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(84250, 29) (28084, 29) (84250,) (28084,)

### Training LR model

In [98]:
LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

LinearRegression()

In [99]:
#Creating a pickle file for the classifier
filename= 'lr-model.pkl'
pickle.dump(LR_model, open(filename, 'wb'))

In [100]:
prediction=LR_model.predict(X_test)
mean_absolute_error (y_test, prediction)

16.952388188044683

In [101]:
# Function to predict scores :

def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate):
     
    temp_array = list()
    
    if Bat_team == 'CSK':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0,0]
    elif Bat_team == 'DC':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0,0]
    elif Bat_team == 'GT':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0,0]
    elif Bat_team == 'KKR':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0,0]
    elif Bat_team == 'LSG':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0,0]
    elif Bat_team == 'MI':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0,0]
    elif Bat_team == 'PK':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0,0]
    elif Bat_team == 'RR':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0,0]
    elif Bat_team == 'RCB':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1,0]
    elif Bat_team == 'SRH':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,0,1]
   
        
    if Bowl_team == 'CSK':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'DC':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0,0]
    elif Bowl_team == 'GT':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0,0]
    elif Bowl_team == 'KKR':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0,0]
    elif Bowl_team == 'LSG':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0,0]
    elif Bowl_team == 'MI':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0,0]
    elif Bowl_team == 'PK':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0,0]
    elif Bowl_team == 'RR':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0,0]
    elif Bowl_team == 'RCB':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1,0]
    elif Bowl_team == 'SRH':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,0,1]
    temp_array = temp_array + [overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate]
    data = np.array([temp_array])
    my_prediction = int(LR_model.predict(data))
    
    print('Predicted score: ',my_prediction)
    print('Predicted score range: ',my_prediction -20, 'to' ,my_prediction + 20)

In [102]:
Bat_team = 'RR' 

Bowl_team = 'SRH' 

overs = 10.3

total_score = 101 # current score

total_wickets = 2 # current wicket 

run_rate = 10

prev_runs_30 = 30 # runs in prev 30 balls

prev_wickets_30 = 1 # wickets in prev 30 balls

prev_30_dot_balls = 5 # dots in prev 30 balls

prev_30_boundaries = 7 # boundaries in prev 30 balls

prev_30_run_rate = 8

score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,run_rate,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries,prev_30_run_rate)

Predicted score:  181
Predicted score range:  161 to 201